* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #1f2937;
    height: 10vh;
}

.navigation h1{
    margin-left: 10vh;
}

.links {
    display: flex;
    gap: 50px;
    margin-right: 10vh;
}

.hero-section{
    display: flex;
    background-color: #1f2937;
    color: white;
    gap: 10px;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero-section h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-left: 10%;
}

.hero-section p{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 10vh;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
    margin-right: 10vh;
    padding: 60px;
}

.content {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 20px;
}

.content-information {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
}

.card-image {
    display: flex;
    width:300px;
    height: 300px;
    justify-content: center;
    align-items: center; 
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 50px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    padding: 20px;
    height: fit-content;
    width: fit-content;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #1f2937;
    color: white;
}

